PORT=3306
# Database Configuration
DB_NAME=name_db
DB_USER=root
DB_PASSWORD=password
DB_HOST=host
DB_PORT=5432
#
NODE_ENV=development
JWT_SECRET_KEY=key
FRONTEND_URL=url
#SMTP
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_PASS=password
SMTP_USER=user